@font-face {
  font-family: 'CMU Serif';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cmunrm.woff') format('woff');
}

@font-face {
  font-family: 'CMU Serif';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/cmunti.woff') format('woff');
}

@font-face {
  font-family: 'CMU Serif';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/cmunbx.woff') format('woff');
}

@font-face {
  font-family: 'CMU Serif';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/cmunbi.woff') format('woff');
}

body {
  font-family: 'CMU Serif', serif;
  font-style: normal;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  padding: 10px;
}

.name {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.profile{
  width: 100%;
}

.profile-name{
  font-size: 14px;
  margin: 0;
  margin-top: 30px;
  border-bottom: 1.8px solid black;
  padding-bottom: 10px;
  font-weight: bold;
}

.profile-desc{
  margin: 0;
  padding: 10px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: normal;
}

.projects{
  width: 100%;
}

.social{
  display: flex;
  justify-content: space-between;
}

.icon{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 20px;
  object-fit: covers;
}

.social-link{
  display: flex;
  font-size: 15px;
}

.social-link a{
  text-decoration: none;
  color: black;
}

.project-name::before{
  content: '•       ';
}

.project-name{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.stack{
  width: 100%;;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
}

.year{
  position: absolute;
  right: 0;
}

.project{
  margin-top: 19px;
}

.project-fact{
  margin: 0;
  margin-bottom: 3px;
}

.b{
  font-weight: bolder;
}